*{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: rgb(63, 63, 63);
}
.item1 {
   background: rgb(107, 107, 107);
   grid-area: header;
   text-align: end;
   height: 60px; 
   display: grid;
   align-items: center;
   justify-content: center;
   grid-template-columns: auto auto auto;   
}

a {
    margin-right: 20px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-size: 15px;
    margin-top: 30px;
}

.item2 {
    background: rgb(151, 140, 137);
    grid-area: advert;
    width: 200px;
 
    
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
 }


 ul li {
    margin: 0;
    text-align: left;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .item3{
    background: rgb(190, 190, 190);
    grid-area: content;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
 }

 .item4 {
    background: rgb(121, 121, 121);
    grid-area: footer;
    height: 60px; 
 }

 .container {
    font-size: 1.5em;
    
    width: 100%;
    background: rgb(63, 63, 63);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "header"
    "advert"
    "content"
    "footer";
 }

 @media (min-width: 500px){
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "header header"
        "content advert"
        "footer footer";
        
    }
 }

 @media (min-width: 1000px){
    .container {
        grid-template-areas: 
        "header advert"
        "content advert"
        "footer advert";
    }
 }