body{
    margin: 0;
    padding: 0;
}

#encabezado{
    display: flex;
    background-color: rgb(14, 14, 14);
    width: 100%;
    position: fixed;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    margin-right: 40px;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}