body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}
/*el contenedor del main*/
#contenedor{
    display: flex;
    border: 1px solid black;
    background-color: rgb(197, 197, 134);
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4900px;
    
}
/* ahora la barra lateral que va a ser fija por eso estaria fuera del contenedor padre*/
#navbar{
    border: 1px solid black;
    background-color: rgb(211, 211, 211);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed; 
}
/* contenido principal */
#main-doc{
    border: 1px solid black;
    background-color: rgb(211, 211, 211);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    height: 100%;
    text-align: left;
}
/*titulo de la barra lateral*/
.title{
    margin: 50px;
}

/*personalizamos los anclajes de la barra lateral*/
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
}

a:hover{
    color: blue;
    background-color: rgb(135, 135, 135);
}

.nav-link{
    background-color: rgb(214, 214, 214);
    border: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.nav-link-intro{
    background-color: rgb(214, 214, 214);
    border: 1px solid black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
    border-left: none;
    border-right: none;
}

.main-section{
    margin: 20px;
}

.diagram {
    background-color: rgb(192, 192, 192);
    width: 100%;
    height: 70px;
    display: flex;
    text-align: left;
    align-items: center;
}

h5{
    margin: 15px;
    color: rgb(60, 60, 60);
}

.lineas{
    line-height: 16px;
    margin: 10px;
}