body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;
}
/*
#rotulo-vertical{
    background-color: rgb(226, 226, 226);
    width: 250px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 3px solid rgb(82, 82, 82);
}

nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: rgb(81, 81, 81);
}

.box{
    height: 40px;
    width: 250px;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(59, 59, 59);
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
}

.box-intro{
    height: 40px;
    width: 250px;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(59, 59, 59);
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(59, 59, 59);
    text-align: center;
}

#box-title{
    text-align: center;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
}


/*Main*/


/*
#main{
width: 100%;
 height: 400px;
 background-color: rgb(255, 225, 0);
 display: flex;
 justify-content: flex-end;
}

#content{
 width: 1000px;
 height: 100%;
 background-color: rgb(255, 0, 0);
 display: flex;
 justify-content: flex-end;
 align-items: flex-start;
}


.main-section {
    width: 90%;
    height: 100%;
    background-color: rgb(0, 187, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

article{

}
*/

#rotulo-vertical{
    border: 1px solid rgb(164, 164, 164);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 20%;
    margin: 5px;
    text-align: center ;
    overflow: hidden;
    height: 100%;
    
}
.box{
    text-decoration: none;
    list-style: none;
}
.box-intro{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#main{
    border: 1px solid rgb(164, 164, 164);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 80%;
    /*line-height: 120px; /* centra verticalmente*/
    margin: 5px;
    /*float: left;  los enfila a todas las cajas*/
    text-align: center ;
    overflow: hidden;
    height: 100%;
}

.contenedor{
    display: flex;
    border: 1px solid black;
    background: #ccc;
    flex-direction: row;
    flex-wrap: nowrap; /* se adapta al tamaño del viewport del navegador*/
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 1000px;
    padding-top: 15px;
    padding-bottom: 15px;
}