body{
    background-color: beige ;
}

.contenido1{
    border: 1px solid rgb(164, 164, 164);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 30%;
    height: 150px;
    line-height: 120px; /* centra verticalmente*/
    margin: 3px;
    /*float: left;  los enfila a todas las cajas*/
    text-align: center ;
}

.contenido2{
    border: 1px solid rgb(164, 164, 164);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 70%;
    height: 150px;
    line-height: 120px; /* centra verticalmente*/
    margin: 4px;
    /*float: left;  los enfila a todas las cajas*/
    text-align: center ;
}

.contenedor{
    display: flex;
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap; /* se adapta al tamaño del viewport del navegador*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    padding: 0;
    margin: 0;
    
}