body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    min-height: 60px;
}

.nav-link{
    color: rgb(25, 150, 150);
}
.nav-link:hover{
    scale: 2;
    color: rgb(255, 72, 0);
    transition: 1s;
}

#header-img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    transition: 1s;
}
#header-img:hover{
    scale: 1.5;
    transition: 1s;
}

.title {
    text-align: center;
    margin-top: 150px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px black;
}

.input-email{
    width: 20%;
    height: 30px;
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 1rem;
    border-radius: 2px;
    margin-bottom: 15px;
}

.input-email:focus{
    outline: 1px solid black;
    border: 1px solid black;
    box-shadow: 0 0 5px blue;
}

.input-submit{
    width: 10%;
    background-color: orange;
    border: 1px solid orange;
    height: 30px;
    font-weight: 900;
    min-width: 120px;
    margin-bottom: 70px;
}

.logo{
    height: 50px;
    margin-left: -30px;
}

ul li{
    display: inline-block;
    
}

nav a {
    font-weight: 600;
    text-decoration: none;
    padding-right: 60px;
}

/*item: Features */

.icon{
    display: flex;
    justify-content: start;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}

.description-features{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    
}

#features{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.title-features{
    margin-bottom: -10px;
}

/*item: How it work */

.title-work{
    text-align: center;
    margin-top: 100px;
}

section{
    scroll-margin-top: 150px; 
    scroll-behavior: smooth;
}

.video-work{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* pricing*/

.pricing{ /* CONTENEDOR CAJA*/
    width: 800px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;  
    align-items: center;
    margin-top: 150px;
}

.product { /* LAS 3 CAJAS CONTENIDAS*/
    width: 300px;
    height: 280px;
    background-color: rgb(230, 230, 230);
    margin: 10px;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid black;
}

.content-text{ /* TEXTO CONTENIDO DE LAS 3 CAJAS*/
    text-align: left;
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.description-product{ /* CAJA TITULO ARRIBA*/
    width: 100%;
    height: 30px;
    background-color: rgb(159, 159, 159);
    
}

.title-text{ /* TEXTO DEL TITULO ARRIBA*/
    margin-top: 0;
    text-align: center;
    
}

.select { /* CAJA DE LA CAJA DE ABAJO*/
    width: 100px;
    height: 30px;
    background-color: rgb(245, 192, 56);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;  
    border-radius: 2px;
    border: 0px;
    font-size: 1.4rem;
    font-weight: 600;
}

.select:hover{
    background-color: rgb(248, 183, 17);
}

.money{
    font-size: 1.5rem;
    font-weight: 600;
    
}

/*footer*/

.footer{
    display: flex;
    background-color: rgb(214, 214, 214);
    width: 1000px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.items-footer a{
    text-decoration: none;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-bottom: 20px;
    margin-right: 20px;
}

