body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-layout{
    width: auto;
    margin: 0 auto;
    border: 1px solid black;
    background-color: lightgreen;
    padding: 20px;
    /*GRID*/
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto 90px auto 90px;
    justify-content: center;
    grid-gap: 10px 15px ;
}

.caja{
    
    border: 4px solid black;
    background-color: lightgray;
    
    text-align: center;
    line-height: 150px;
    text-align: center;
    font-size: 3rem;
    line-height: 90px;
}

.caja-item{
    margin-top: -15px; /*margen de arriba para que se pegue al de arriba*/
}

#link{
    text-decoration: none;
    color: black;
}

#link:hover{
    color: brown;
}