body{
    font-size: 1.5rem; /*1.5 * 16px */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    /*materializamos el main*/
    width: 55%;
    height: 75%;
    background-color: blue;
    //centramos por dentro
    display: flex;
    justify-content: center;
    align-items: center;
    /* centramos por fuera*/
    margin-left: auto;
    margin-right: auto;
    /*y un espacio por dentro */
    padding: 10px;
}

#survey-form {
    /*dimensionamos el contenido*/
    height: 55%;
    width: 100%;
    
    background-color: red;
}

textarea{
    /*dimensionamos el comentario que se sale y bloque*/ 
    resize: none;
    width: 98%;
}



/*centramos los titulos*/
header {
    text-align: center;
}