*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    height: 40px;
}  

ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li:hover {
    background: rgb(0, 0, 0);
    transition: 1s;
}
ul li a{
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
    font-family: sans-serif;
}

#logo {
    margin: 10px;
    letter-spacing: 5px;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    
}


/*MEDIA*/


@media (max-width: 1000px){
    

    ul{
        opacity: 0;
        transition: 1s;
    }

    
    #toggle{
        position: fixed;
        top: 0px;
        right: 0px;
        width: 60px;
        height: 40px;
        background: rgba(0,0,0,0.6);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        
    }
    #toggle::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transform: translateY(-5px); 
        transition: 0.2s;
    }
    /*segunda linea blanca horizontal*/
    #toggle::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transform: translateY(5px); 
        transition: 0.2s;
    }   
   
    #projects-grid {
        grid-column: 3 / span 1;
    }


}


/*FIN DEL HEADER*/

/*SECTION 1*/

#welcome-section{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    background: linear-gradient( rgb(133, 133, 133), #254f86);
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.title{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 25px;
    text-align: center;
    margin-left: 50px;
}

.subtitle{
    color: rgb(27, 27, 27);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 10px;
    text-align: center;
    margin-left: 50px;
}




.project-tile {
    text-align: center;
    width: 100%;
    background-color: #254f86;
}
 /*grid */

 .project-a {
    grid-area: projecta;
 }
 .project-b {
    grid-area: projectb;
 }
 .project-c {
    grid-area: projectc;
 }
 .project-d {
    grid-area: projectd;
 }


#projects-grid {
    width: auto;
    margin: 0 ;
    background-color: #254f86;
    padding: 20px;
    /*GRID*/
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto  auto ;
    justify-content: center;
    grid-gap: 10px 10px;
    min-width: 1000px;
    
}


#imgpage{
    margin-top: 0px;
    box-shadow: 1px 10px 10px black;
    background-color: rgb(49, 59, 96);
    text-align: center;
    line-height: 150px;
    text-align: center;
    font-size: 3rem;
    line-height: 90px;
    border-radius: 10px;
}

#imgpage:hover {
    box-shadow: 0px 20px 50px  black;
    scale: 1.05;
    transition: 0.7s;
}


