main {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    /*Especificar posicion de las areas*/
    grid-template-areas: 
        "header"
        "contenido"
        "izquierda"
        "derecha"
        "footer";
}

/* responsive*/

@media (min-width: 500px) {
    main {
        grid-template-areas: 
            "header header header"
            "izquierda contenido derecha"
            "footer footer footer";
    }
}

/*Nombramos las areas*/

header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: izquierda;
}

aside:last-of-type {
    grid-area: derecha;
}

article {
    grid-area: contenido;
}

footer {
    grid-area: footer;
}