body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*primera section*/
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: brown;
    top: 0;
    box-shadow: 0px 10px 10px black;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
    list-style: none;
    height: 80px;
    margin: 0;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover{
    background-color: rgb(90, 58, 121);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    width: 150px;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 300px;
    height: 300px;
}

#welcome-section{
    width: 100%;
    height: 900px;
    background: linear-gradient(90deg, #7d7d7d, #050405 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-welcome{
    text-align: center;
    font-size: 4rem;
    color: white;
    font-weight: bold;
    margin: 0;
}

.sub-title{
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: brown;
    text-shadow: 0px 5px 5px black;
}
/*segunda sections*/
/*contenedor del grid*/
#projects{
    background-color: rgb(82, 82, 107);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    grid-gap: 10px 15px;
}
/*cajas link de los trabajos*/
.caja-item{
    background-color: gray;
    height: 40px;
    text-align: center;
    display: grid;
    align-items: center;
    margin-top: -15px;
}

#link{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
#link:hover{
    color: brown;
}

.title{
    width: 100%;
    height: 100px;
    background-color: rgb(82, 82, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    margin: 50px;
    background-color: gray;
    font-size: 1.2rem;
    border-radius: 5px;
}
/*las cajas items*/
.caja-boton{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(82, 82, 107);
}

#show{
    color: white;
    text-decoration: none;
}

.boton:hover{
    background-color: brown;
}

/*tercera section*/

.title-section{
    text-align: center;
    color: white;
    font-size: 4rem;
    margin-bottom: 10px;
    margin-top: 100px;
}

.subtitle-section{
    text-align: center;
    color: white;   
    margin-top: 10px;
    font-size: 1.2rem;
}

.contact{
    background-color: gray;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#redes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#profile-link{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 3px black;
    margin-right: 50px;
    font-size: 1.4rem;
    margin-bottom: 100px;
}

hr{
    border: 4px solid brown;
    margin: 0;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: gray;
}